cfscrape @ git+https://github.com/Anorov/cloudflare-scrape.git

curl_cffi>=0.13.0

# selenium>=4.0.0
beautifulsoup4>=4.14.2
requests>=2.32.5

# # Optional: helps install browser drivers automatically
# webdriver-manager>=4.0.0
